.img-gallery {
    max-width: 200px!important;
}

.title {
    font-size: 4rem!important;
    color: white!important;    
}

#gallery a{
    margin:0px 0px;
    display:inline-block;
    text-decoration:none;
    color:black;
    max-width: 200px
 }
 .caption {
 	max-width: 200px!important;
 }