// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: acumin-pro, macho, 'Helvetica Neue', Arial, source-han-sans-japanese, ryo-gothic-plusn,
	sans-serif;
}
