// 
// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1rem;

$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: .75rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 1.25rem;